.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__logo {
    width: 60px;
    object-fit: contain;
    margin: 0 20px;
    
  }
  .logo_name{
      color:'#fff';
  }
  
  .header__search1 {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin-left: 4%;
  }

  .header_categories{
    height: 33px;
  }
  
  .header__searchInput1 {
    height: 12px !important;
    padding: 10px !important;
    border: none;
    width: 85%;
  }
  
  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
  }

  
  
  .header__optionLineOne {
    font-size: 13px;
    font-weight: 800;
    color: white;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    color:#fff;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  .header__optionBasket:hover{
    border: 1px solid #fff;
    padding:4px;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  .header__option:hover{
    border: 1px solid #fff;
    padding:4px;
  }

  .name{
    font-weight: bold;
    font-size: 0.7rem;
  }

  .loginButton {
    display: block;
    width: 200px;
    height: 33px;
    background: linear-gradient(to bottom, #f8e3ad,#eeba37);
    text-align: center;
    line-height: 30px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid;
    border-color: #c89411 #b0820f #99710d;
    border-radius: 3px;
    margin-top: 3%;
  }
  .cart {
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px
  }