

.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: #f1f3f6;
  }
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .home__row {  
    display: flex; 
    z-index: 1; 
    margin-left: 5px;  
    margin-right: 5px;
  }

  .title_row{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    font-weight: 700;
    font-size: 1.7rem;
  }